In [2]:
#absolute fxn== converts -ve int to +ve
abs(-3)

3

In [3]:
#round fxn== rounds value to yhe nearest integer value
round(6.96)

7

In [12]:
round(6.96,1)

7.0

In [16]:
  #casting == converting/casting strng to int
num_1= '300'
num_2= '200'
    
num_1=int(num_1)
num_2=int(num_2)
    
print(num_1+num_2)

500

In [4]:
#printing list in descending order
courses=["math","sci","cs","phy"]
courses.sort(reverse=True)
print(courses)

['sci', 'phy', 'math', 'cs']

In [9]:
#printing list in ascending order
courses.sort
courses

['cs', 'math', 'phy', 'sci']

In [18]:
#sorting list without altering the original list
sorted(courses)
print(courses)

['cs', 'math', 'phy', 'sci']

In [16]:
sorted_courses=sorted(courses)
print(sorted_courses)

['cs', 'math', 'phy', 'sci']

In [19]:
print(courses.index('cs'))

0

In [21]:
#to check phy in courses
print('phy' in courses)

True

In [22]:
print('art' in courses)

False

In [23]:
#Printing all elements
for sub in courses:
    print(sub)

cs
math
phy
sci

In [26]:
#enumerate fxn -- to print index with elements
for index,sub in enumerate(courses):
    print(index,sub)

0 cs
1 math
2 phy
3 sci

In [29]:
#enumerate fxn -- to print index with elements , starting with index one
for index,sub in enumerate(courses,start =1):
    pr#enumerate fxn -- to print index with elementsint(index,sub)

1 cs
2 math
3 phy
4 sci

In [31]:
#sting version of list
courses_str=', '.join(courses)
print(courses_str)

cs, math, phy, sci

In [34]:
#sting version of list
courses_str=' - '.join(courses)
print(courses_str)

cs - math - phy - sci

In [37]:
#converting string to list
new_list=courses_str.split(' - ')
print(new_list)

['cs', 'math', 'phy', 'sci']

# Tuples
cant be modified -- immutable

In [38]:
tuple_1=('cs', 'math', 'phy', 'sci')
print(tuple_1)

('cs', 'math', 'phy', 'sci')

use tuples when 
-u just want to acces the elements
-loop through it

use lists when u want to add/delete/update elements

# sets
-unordered
-have no duplicates

In [49]:
set_1={'cs', 'math','cs', 'phy', 'art','sci'}
print(set_1)

{'cs', 'sci', 'math', 'art', 'phy'}

In [51]:
cs_courses={'math','phy','quantum computing','eng'}
art_courses={'eng','design','graphics','math'}

In [52]:
#extracting commom elements from list
print(cs_courses.intersection(art_courses))

{'eng', 'math'}

In [54]:
# courses in cs_courses but not in  art_courses
print(cs_courses.difference(art_courses))

{'quantum computing', 'phy'}

In [55]:
#combining both the courses
print(cs_courses.union(art_courses))

{'quantum computing', 'design', 'eng', 'math', 'graphics', 'phy'}

In [ ]:
#creating empty list ,tuple,set

In [62]:
#two ways
empty_list_1=[]    
empty_list=list()
empty_list

[]

In [63]:
empty_list_1

[]

In [66]:
#two ways
empty_tuple_1=()    
empty_tuple=tuple()
empty_tuple

()

In [67]:
empty_tuple_1

()

In [68]:
#one way
empty_set_1={}   #creates dictionary
empty_set=set()
empty_set

set()

In [69]:
empty_set_1      #creates dictionary

{}

# dictionaries

In [71]:
info={'name':'Sara','Age':21,'Profession':'Data Scientist','Course':['ML','DS & Algo']}
info

{'name': 'Sara',
 'Age': 21,
 'Profession': 'Data Scientist',
 'Course': ['ML', 'DS & Algo']}

In [72]:
print(info['Course'])

['ML', 'DS & Algo']

In [73]:
#accessing a key that doesnt exist -- gives error
print(info['phone'])

KeyError: 'phone'

In [74]:
#accessing a key that doesnt exist 
#using get method -- doesnt print error -- returns output as None or some other desired output

print(info.get('phone'))

None

In [75]:
#specifing default values to the keys that doesnt exist
print(info.get('phone','Not Found'))

Not Found

In [76]:
#adding new entry
info['phone']='970-560'
print(info.get('phone'))

970-560

In [77]:
info

{'name': 'Sara',
 'Age': 21,
 'Profession': 'Data Scientist',
 'Course': ['ML', 'DS & Algo'],
 'phone': '970-560'}

In [78]:
#updating values
info['name']='Sara Raool'
info

{'name': 'Sara Raool',
 'Age': 21,
 'Profession': 'Data Scientist',
 'Course': ['ML', 'DS & Algo'],
 'phone': '970-560'}

In [79]:
#updating using update() method -- updating multiple values
#takes dict as argument
info.update({'name':'Sara R','income':"5 laka p.a."})
info

{'name': 'Sara R',
 'Age': 21,
 'Profession': 'Data Scientist',
 'Course': ['ML', 'DS & Algo'],
 'phone': '970-560',
 'income': '5 laka p.a.'}

In [80]:
#deleting specific key and its value -- del keyword
del info['phone']
info

{'name': 'Sara R',
 'Age': 21,
 'Profession': 'Data Scientist',
 'Course': ['ML', 'DS & Algo'],
 'income': '5 laka p.a.'}

In [90]:
#deleting key with its value
#pop method -- removes also returns the value
age=info.pop('income')

print(age)

5 laka p.a.

In [93]:
#looping through all the keys and values of a dict
#self try -- gave index haha
for elements,values in enumerate(info):
    print(elements,values)

0 name
1 Profession
2 Course

In [94]:
#checking how many keys we have
len(info)

3

In [95]:
#printing all the keys
print(info.keys())

dict_keys(['name', 'Profession', 'Course'])

In [96]:
#printing all the  values
print(info.values())

dict_values(['Sara R', 'Data Scientist', ['ML', 'DS & Algo']])

In [97]:
#printing all the keys & values -- using items method
print(info.items())

dict_items([('name', 'Sara R'), ('Profession', 'Data Scientist'), ('Course', ['ML', 'DS & Algo'])])

In [98]:
#looping through all the keys and values i.e. the items 
for key,value in info.items():
    print(key,value)

name Sara R
Profession Data Scientist
Course ['ML', 'DS & Algo']

In [101]:
#looping through all the keys and values with index
for index, (key, value) in enumerate(info.items()):
    print(index, key, value)

0 name Sara R
1 Profession Data Scientist
2 Course ['ML', 'DS & Algo']