2-1. Simple Message: Store a message in a variable, and then print that
message

In [182]:
variable=("Hi, Sara.")
print(variable)

Hi, Sara.

2-2. Simple Messages: Store a message in a variable, and print that message.
Then change the value of your variable to a new message, and print the new
message.

In [183]:
variable=("Hello World!")
print(variable)

Hello World!

A string is simply a series of characters.

A method is an action that Python can perform on a piece of data

In [184]:
name = "sara raool"
print(name.title())

Sara Raool

The method title() displays each word in titlecase, where each word begins with a
capital letter.

In [185]:
print(name.upper())
print(name.lower())

SARA RAOOL
sara raool

Adding Whitespace to Strings with Tabs or Newlines
whitespace refers to any nonprinting character, such as
spaces, tabs, and end-of-line symbols.

In [186]:
print("Python")
print("\tPython")

Python
	Python

To add a tab to your text, use the character combination \t

In [187]:
print("Info\nSara Raool\nAchiever\nDoer")

Info
Sara Raool
Achiever
Doer

Python can look for extra whitespace on the right and left sides of a
string. To ensure that no whitespace exists at the right end of a string, use
the rstrip() method.
To remove the whitespace from the string permanently, you have to
store the stripped value back into the variable
You can also strip whitespace from the left side of a string using the
lstrip() method or strip whitespace from both sides at once using strip()

2-3. Personal Message: Store a person’s name in a variable, and print a message to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”

In [188]:
name = "Prasad"
message = "Hello " + name + ", would you like to learn some python?"
print(message)

Hello Prasad, would you like to learn some python?

2-4. Name Cases: Store a person’s name in a variable, and then print that person’s name in lowercase, uppercase, and titlecase.

In [189]:
print(name.lower())
print(name.upper())
print(name.title())

prasad
PRASAD
Prasad

2-5. Famous Quote: Find a quote from a famous person you admire. Print the
quote and the name of its author. Your output should look something like the
following, including the quotation marks:
Albert Einstein once said, “A person who never made a
mistake never tried anything new.”

In [190]:
name = "Naval Ravikant" 
quote = "All the returns in life, whether in wealth, relationships, or knowledge, come from compound interest."
op = name + " once said, '" + quote + "'"
print(op)

Naval Ravikant once said, 'All the returns in life, whether in wealth, relationships, or knowledge, come from compound interest.'

2-6. Famous Quote 2: Repeat Exercise 2-5, but this time store the famous person’s name in a variable called famous_person. Then compose your message
and store it in a new variable called message. Print your message.

In [191]:
famous_person = "Sara Raool"
message = "Belive, Plan, Act, Give your 10/10"
print(famous_person,"says: " + message)

Sara Raool says: Belive, Plan, Act, Give your 10/10

2-7. Stripping Names: Store a person’s name, and include some whitespace
characters at the beginning and end of the name. Make sure you use each
character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [192]:
new_name = "\tsara\nraool\t."
print(new_name)

	sara
raool	.

In [193]:
print(new_name.lstrip())
print(new_name.rstrip())
print(new_name.strip())

sara
raool	.
	sara
raool	.
sara
raool	.

Python knows that the variable could represent either the numerical
value 23 or the characters 2 and 3. When you use integers within strings
like this, you need to specify explicitly that you want Python to use the integer as a string of characters. You can do this by wrapping the variable in the
str() function, which tells Python to represent non-string values as strings:

In [194]:
age = 23
meassage = "Happy "+ str(age) +"rd Birthday!"
print(meassage)

Happy 23rd Birthday!

2-8. Number Eight: Write addition, subtraction, multiplication, and division
operations that each result in the number 8. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print(5 + 3)
Your output should simply be four lines with the number 8 appearing once
on each line.

In [195]:
print(4 + 4)
print(16 - 8)
print(4 * 2)
print(16 / 2)

8
8
8
8.0

2-9. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [196]:
fav_no = 63
msg = str(63)
print(msg)

63

A comment allows you to write notes in English within your programs.
the hash mark (#) indicates a comment.

In [197]:
# Hi Sara
print("You Doing great and i love u")

You Doing great and i love u

2-10. Adding Comments: Choose two of the programs you’ve written, and
add at least one comment to each. If you don’t have anything specific to write
because your programs are too simple at this point, just add your name and
the current date at the top of each program file. Then write one sentence
describing what the program does.

In [198]:
#Simple Addition program
print(6 + 9)

#Addition Program using fxn.
#Take an array of nos and add them using sum() fxn

array = [1,6,8,4]
print(sum(array))

15
19

# If you have a choice between a simple and a complex solution, and both
work, use the simple solution. Your code will be easier to maintain, and it
will be easier for you and others to build on that code later on.

# Don’t try to write perfect code; write code that works, and then
decide whether to improve your code for that project or move on to something new.

# Lists

In [199]:
my_list = ["bullet", "GS5", "Tiger"]
new_msg = "My first bike is " + my_list[0].title() + "."
print(new_msg)

My first bike is Bullet.

3-1. Names: Store the names of a few of your friends in a list called names. Print
each person’s name by accessing each element in the list, one at a time.

In [200]:
name_of_frirends = ["Vishnu", "Sara", "Bappa"]
print(name_of_frirends[0])
print(name_of_frirends[1])
print(name_of_frirends[2].upper())

Vishnu
Sara
BAPPA

3-2. Greetings: Start with the list you used in Exercise 3-1, but instead of just
printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the
person’s name.

In [201]:
msg = "Hi There, " 
print(msg, name_of_frirends[0],".")
print(msg, name_of_frirends[1], ".")
print(msg, name_of_frirends[2],".")

Hi There,  Vishnu .
Hi There,  Sara .
Hi There,  Bappa .

3-3. Your Own List: Think of your favorite mode of transportation, such as a
motorcycle or a car, and make a list that stores several examples. Use your list
to print a series of statements about these items, such as “I would like to own a
Honda motorcycle.”

In [202]:
vehicles = ['Bullet', 'Honda', 'GS5', 'Telescope']
print("I would like to own a " + vehicles[0],"& " + vehicles[-1], ".")

I would like to own a Bullet & Telescope .

In [203]:
vehicles

['Bullet', 'Honda', 'GS5', 'Telescope']

In [204]:
vehicles[-1] = "Harley"
vehicles

['Bullet', 'Honda', 'GS5', 'Harley']

Adding Elements to a List
Appending Elements to the End of a List

In [205]:
vehicles.append("Ducati")
vehicles

['Bullet', 'Honda', 'GS5', 'Harley', 'Ducati']

The append() method makes it easy to build lists dynamically. For
example, you can start with an empty list and then add items to the list
using a series of append() statements. Using an empty list, let’s add the elements 'honda', 'yamaha', and 'suzuki' to the list

In [206]:
motorcycles = []

#adding new elements to empty list using append() fxn
motorcycles.append("Honda")
motorcycles.append("Yamaha")
motorcycles.append("Suzuki")
print(motorcycles)

['Honda', 'Yamaha', 'Suzuki']

Building lists this way is very common, because you often won’t know
the data your users want to store in a program until after the program is
running. To put your users in control, start by defining an empty list that
will hold the users’ values. Then append each new value provided to the list
you just created.

Inserting Elements into a List
You can add a new element at any position in your list by using the insert()
method. You do this by specifying the index of the new element and the
value of the new item.

In [207]:
print(vehicles)

['Bullet', 'Honda', 'GS5', 'Harley', 'Ducati']

In [208]:
vehicles.insert(1,'Himalayan')
vehicles

['Bullet', 'Himalayan', 'Honda', 'GS5', 'Harley', 'Ducati']

In this example, the code at inserts the value 'ducati' at the beginning of the list. The insert() method opens a space at position 1 and stores
the value 'Himalayan' at that location. This operation shifts every other value
in the list one position to the right:

Removing an Item Using the del Statement
If you know the position of the item you want to remove from a list, you can
use the del statement.

In [209]:
del vehicles[2]
vehicles

['Bullet', 'Himalayan', 'GS5', 'Harley', 'Ducati']

The code above uses del to remove the third item, 'honda', from the list of
motorcycles

Removing an Item Using the pop() Method
The pop() method removes the last item in a list, but it lets you work
with that item after removing it. The term pop comes from thinking of a
list as a stack of items and popping one item off the top of the stack. In
this analogy, the top of a stack corresponds to the end of a list.

In [210]:
vehicles.pop()
print(vehicles)

['Bullet', 'Himalayan', 'GS5', 'Harley']

In [211]:
vehicles.pop()
print(vehicles)

['Bullet', 'Himalayan', 'GS5']

In [212]:
popped_vehicles = vehicles.pop()
print(vehicles)
print(popped_vehicles)

['Bullet', 'Himalayan']
GS5

We start by defining and printing the list motorcycles, we pop
a value from the list and store that value in the variable popped_motorcycle.
We print the list to show that a value has been removed from the list.
Then we print the popped value at to prove that we still have access to
the value that was removed.
The output shows that the value 'GS5' was removed from the end of
the list and is now stored in the variable popped_motorcycle

In [213]:
my_vehicles = ["Bullet", "Honda Africa Twin"]
print("My Veciles: ", my_vehicles)
last_owned = my_vehicles.pop()
print("The last bike I owned was " + last_owned + ".")

My Veciles:  ['Bullet', 'Honda Africa Twin']
The last bike I owned was Honda Africa Twin.

Popping Items from any Position in a List
You can actually use pop() to remove an item in a list at any position by
including the index of the item you want to remove in parentheses.

In [214]:
first_owned = my_vehicles.pop(0)
print("The first bike I owned was " + first_owned + ".")

The first bike I owned was Bullet.

# If you’re unsure whether to use the del statement or the pop() method,
here’s a simple way to decide: when you want to delete an item from a list
and not use that item in any way, use the del statement; if you want to use an
item as you remove it, use the pop() method.

Removing an Item by Value
If you only know the value of the item you want to remove, you
can use the remove() method.

In [215]:
bikes = ['Bullet', 'Himalayan', 'Honda', 'GS5', 'Harley', 'Ducati']
print(bikes)
bikes.remove('Honda')
print(bikes)

['Bullet', 'Himalayan', 'Honda', 'GS5', 'Harley', 'Ducati']
['Bullet', 'Himalayan', 'GS5', 'Harley', 'Ducati']

In [216]:
bikes

['Bullet', 'Himalayan', 'GS5', 'Harley', 'Ducati']

In [217]:
too_expensive = "Harley"
bikes.remove(too_expensive)
print(bikes)
print(too_expensive, "is a high cost bike")

['Bullet', 'Himalayan', 'GS5', 'Ducati']
Harley is a high cost bike

The remove() method deletes only the first occurrence of the value you specify. If there’s
a possibility the value appears more than once in the list, you’ll need to use a loop to
determine if all occurrences of the value have been removed.

3-4. Guest List: If you could invite anyone, living or deceased, to dinner, who
would you invite? Make a list that includes at least three people you’d like to
invite to dinner. Then use your list to print a message to each person, inviting
them to dinner.

In [218]:
guest_list = ["Mavsoo", "Mau", "Kanu"]
print(guest_list[0], "is invited for Dinner.")
print(guest_list[1], "is invited for Dinner.")
print(guest_list[2], "is invited for Dinner.")

Mavsoo is invited for Dinner.
Mau is invited for Dinner.
Kanu is invited for Dinner.

3-5. Changing Guest List: You just heard that one of your guests can’t make the
dinner, so you need to send out a new set of invitations. You’ll have to think of
someone else to invite.
•	 Start with your program from Exercise 3-4. Add a print statement at the
end of your program stating the name of the guest who can’t make it.
•	 Modify your list, replacing the name of the guest who can’t make it with
the name of the new person you are inviting.
•	 Print a second set of invitation messages, one for each person who is still
in your list.

In [219]:
print(guest_list[1], "won't be attending Dinner.")
guest_list.remove("Mau")
#Replacing Mau with Srisha
guest_list.insert(1, "Srisha")
print(guest_list[1],"is now invited in place of Mau for Dinner.")

Mau won't be attending Dinner.
Srisha is now invited in place of Mau for Dinner.

In [220]:
print(guest_list[0], "is invited for Dinner.")
print(guest_list[1], "is invited for Dinner.")
print(guest_list[2], "is invited for Dinner.")

Mavsoo is invited for Dinner.
Srisha is invited for Dinner.
Kanu is invited for Dinner.

In [221]:
#to study and solve 3.5 again
#solved

append()
insert()
del ()
pop ()
remove()

3-6. More Guests: You just found a bigger dinner table, so now more space is
available. Think of three more guests to invite to dinner.
•	 Start with your program from Exercise 3-4 or Exercise 3-5. Add a print
statement to the end of your program informing people that you found a
bigger dinner table.
•	 Use insert() to add one new guest to the beginning of your list.
•	 Use insert() to add one new guest to the middle of your list.
•	 Use append() to add one new guest to the end of your list.
•	 Print a new set of invitation messages, one for each person in your list.

In [222]:
initial_guest_list = guest_list
initial_guest_list

['Mavsoo', 'Srisha', 'Kanu']

In [223]:
new_guest_list = initial_guest_list.insert(0, "Mau")
new_guest_list = initial_guest_list.insert(2, "Kripal")
new_guest_list = initial_guest_list.append("Vaibhavi")

print(new_guest_list)
print("Found a bigger Dinner Table")

None
Found a bigger Dinner Table

In [224]:
print(guest_list)
print("Found a bigger Dinner Table")

['Mau', 'Mavsoo', 'Kripal', 'Srisha', 'Kanu', 'Vaibhavi']
Found a bigger Dinner Table

In [225]:
print(guest_list[0], "you are invited for Dinner!")
print(guest_list[1], "you are invited for Dinner!")
print(guest_list[2], "you are invited for Dinner!")
print(guest_list[3], "you are invited for Dinner!")
print(guest_list[4], "you are invited for Dinner!")
print(guest_list[5], "you are invited for Dinner!")

Mau you are invited for Dinner!
Mavsoo you are invited for Dinner!
Kripal you are invited for Dinner!
Srisha you are invited for Dinner!
Kanu you are invited for Dinner!
Vaibhavi you are invited for Dinner!

In [226]:
print("You can only invite two people for Dinner")

You can only invite two people for Dinner

In [227]:
popped_member = guest_list.pop(-1)
print(popped_member, "Sorry couldn't invite you for Dinner")

Vaibhavi Sorry couldn't invite you for Dinner

In [228]:
popped_member = guest_list.pop(-1)
print(popped_member, "Sorry couldn't invite you for Dinner")

Kanu Sorry couldn't invite you for Dinner

In [229]:
popped_member = guest_list.pop(-1)
print(popped_member, "Sorry couldn't invite you for Dinner")

Srisha Sorry couldn't invite you for Dinner

In [230]:
popped_member = guest_list.pop(-1)
print(popped_member, "Sorry couldn't invite you for Dinner.")

Kripal Sorry couldn't invite you for Dinner.

In [231]:
guest_list

['Mau', 'Mavsoo']

In [232]:
print(guest_list[0], "You are invited for Dinner")
print(guest_list[1], "You are invited for Dinner")

Mau You are invited for Dinner
Mavsoo You are invited for Dinner

In [234]:
del guest_list[0]
print(guest_list)

['Mavsoo']

In [236]:
del guest_list[0]
print(guest_list)

[]

Organizing a List

Sorting a List Permanently with the sort() Method

In [237]:
fruits = ["pineapple", "apple", "lichi", "mango"] 
fruits.sort()
print(fruits)

['apple', 'lichi', 'mango', 'pineapple']

The sort() method, changes the order of the list permanently. The cars are now in alphabetical order, and we can never revert to
the original order

sorting this list in reverse alphabetical order by passing the
argument reverse=True to the sort() method

In [238]:
fruits.sort(reverse=True)
print(fruits)

['pineapple', 'mango', 'lichi', 'apple']

Sorting a List Temporarily with the sorted() Function

In [243]:
print("Here is the original list:")
print(fruits)

print("\nHere is the temporarily sorted list:")
print(sorted(fruits))

print("\nHere is the original list again:")
print(fruits)

Here is the original list:
['pineapple', 'mango', 'lichi', 'apple']

Here is the temporarily sorted list:
['apple', 'lichi', 'mango', 'pineapple']

Here is the original list again:
['pineapple', 'mango', 'lichi', 'apple']

Printing a List in Reverse Order

In [245]:
print(fruits)
fruits.reverse()
print(fruits)

['apple', 'lichi', 'mango', 'pineapple']
['pineapple', 'mango', 'lichi', 'apple']

Notice that reverse() doesn’t sort backward alphabetically; it simply
reverses the order of the list

Finding the Length of a List

In [246]:
len(fruits)

4

Python counts the items in a list starting with one, so you shouldn’t run into any offby-one errors when determining the length of a list.

3-8. Seeing the World: Think of at least five places in the world you’d like to
visit.
•	 Store the locations in a list. Make sure the list is not in alphabetical order.
•	 Print your list in its original order. Don’t worry about printing the list neatly,
just print it as a raw Python list.
•	 Use sorted() to print your list in alphabetical order without modifying the
actual list.
•	 Show that your list is still in its original order by printing it.
•	 Use sorted() to print your list in reverse alphabetical order without changing the order of the original list.
•	 Show that your list is still in its original order by printing it again.
•	 Use reverse() to change the order of your list. Print the list to show that its
order has changed.
•	 Use reverse() to change the order of your list again. Print the list to show
it’s back to its original order.
•	 Use sort() to change your list so it’s stored in alphabetical order. Print the
list to show that its order has been changed.
•	 Use sort() to change your list so it’s stored in reverse alphabetical order.
Print the list to show that its order has changed.

In [252]:
locations = ["Kashi", "Himalayas", "Coimbatore", "Switzerland", "Japan"]
print(locations)

['Kashi', 'Himalayas', 'Coimbatore', 'Switzerland', 'Japan']

In [254]:
print(sorted(locations))

['Coimbatore', 'Himalayas', 'Japan', 'Kashi', 'Switzerland']

In [255]:
print("OG List:", locations)

OG List: ['Kashi', 'Himalayas', 'Coimbatore', 'Switzerland', 'Japan']

In [261]:
a = sorted(locations)
a

['Coimbatore', 'Himalayas', 'Japan', 'Kashi', 'Switzerland']

In [272]:
print(sorted(locations, reverse = True))

['Switzerland', 'Kashi', 'Japan', 'Himalayas', 'Coimbatore']

In [279]:
locations

['Japan', 'Switzerland', 'Coimbatore', 'Himalayas', 'Kashi']

In [280]:
locations.reverse()
print(locations)

['Kashi', 'Himalayas', 'Coimbatore', 'Switzerland', 'Japan']

In [281]:
locations.reverse()
print(locations)

['Japan', 'Switzerland', 'Coimbatore', 'Himalayas', 'Kashi']

In [282]:
locations.sort()
print(locations)

['Coimbatore', 'Himalayas', 'Japan', 'Kashi', 'Switzerland']

In [283]:
locations.sort(reverse=True)
print(locations)

['Switzerland', 'Kashi', 'Japan', 'Himalayas', 'Coimbatore']

In [286]:
guest_list = ['Mau', 'Mavsoo', 'Kripal', 'Srisha', 'Kanu', 'Vaibhavi']
print(len(guest_list), "people are invited for Dinner.")

6 people are invited for Dinner.

3-10. Every Function: Think of something you could store in a list. For example,
you could make a list of mountains, rivers, countries, cities, languages, or anything else you’d like. Write a program that creates a list containing these items
and then uses each function introduced in this chapter at least once.

append()
insert()
del ()
pop ()
remove()
sorted
sort()
reverse()
len()

In [293]:
mountains = ["Alanggad", "Malandgad", "Taramati", "Raigad", "Pratapgad"]
mountains

['Alanggad', 'Malandgad', 'Taramati', 'Raigad', 'Pratapgad']

In [294]:
len(mountains)

5

In [295]:
mountains.reverse()
print(mountains)

['Pratapgad', 'Raigad', 'Taramati', 'Malandgad', 'Alanggad']

In [297]:
print(sorted(mountains))

['Alanggad', 'Malandgad', 'Pratapgad', 'Raigad', 'Taramati']

In [301]:
mountains.sort()
mountains

['Alanggad', 'Malandgad', 'Pratapgad', 'Raigad', 'Taramati']

In [302]:
mountains.append("Sinhagad")
mountains

['Alanggad', 'Malandgad', 'Pratapgad', 'Raigad', 'Taramati', 'Sinhagad']

In [304]:
popped_mountain = mountains.pop(1)
print(popped_mountain,"'s base village visited")

Malandgad 's base village visited

In [307]:
mountains.remove("Sinhagad")
mountains

['Kokandiva', 'Alanggad', 'Pratapgad', 'Raigad', 'Taramati']

In [308]:
new_mountains = mountains.insert(0, "Kokandiva")

In [313]:
mountains

['Kokandiva', 'Kokandiva', 'Alanggad', 'Pratapgad', 'Raigad', 'Taramati']

If an index error occurs and you can’t figure out how to resolve it, try printing your
list or just printing the length of your list. Your list might look much different than
you thought it did, especially if it has been managed dynamically by your program.
Seeing the actual list, or the exact number of items in your list, can help you sort out
such logical errors.