# Lists

In [413]:
my_list = ["bullet", "GS5", "Tiger"]
new_msg = "My first bike is " + my_list[0].title() + "."
print(new_msg)

My first bike is Bullet.

3-1. Names: Store the names of a few of your friends in a list called names. Print
each person’s name by accessing each element in the list, one at a time.

In [414]:
name_of_frirends = ["Vishnu", "Sara", "Bappa"]
print(name_of_frirends[0])
print(name_of_frirends[1])
print(name_of_frirends[2].upper())

Vishnu
Sara
BAPPA

3-2. Greetings: Start with the list you used in Exercise 3-1, but instead of just
printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the
person’s name.

In [415]:
msg = "Hi There, " 
print(msg, name_of_frirends[0],".")
print(msg, name_of_frirends[1], ".")
print(msg, name_of_frirends[2],".")

Hi There,  Vishnu .
Hi There,  Sara .
Hi There,  Bappa .

3-3. Your Own List: Think of your favorite mode of transportation, such as a
motorcycle or a car, and make a list that stores several examples. Use your list
to print a series of statements about these items, such as “I would like to own a
Honda motorcycle.”

In [416]:
vehicles = ['Bullet', 'Honda', 'GS5', 'Telescope']
print("I would like to own a " + vehicles[0],"& " + vehicles[-1], ".")

I would like to own a Bullet & Telescope .

In [417]:
vehicles

['Bullet', 'Honda', 'GS5', 'Telescope']

In [418]:
vehicles[-1] = "Harley"
vehicles

['Bullet', 'Honda', 'GS5', 'Harley']

Adding Elements to a List
Appending Elements to the End of a List

In [419]:
vehicles.append("Ducati")
vehicles

['Bullet', 'Honda', 'GS5', 'Harley', 'Ducati']

The append() method makes it easy to build lists dynamically. For
example, you can start with an empty list and then add items to the list
using a series of append() statements. Using an empty list, let’s add the elements 'honda', 'yamaha', and 'suzuki' to the list

In [420]:
motorcycles = []

#adding new elements to empty list using append() fxn
motorcycles.append("Honda")
motorcycles.append("Yamaha")
motorcycles.append("Suzuki")
print(motorcycles)

['Honda', 'Yamaha', 'Suzuki']

Building lists this way is very common, because you often won’t know
the data your users want to store in a program until after the program is
running. To put your users in control, start by defining an empty list that
will hold the users’ values. Then append each new value provided to the list
you just created.

Inserting Elements into a List
You can add a new element at any position in your list by using the insert()
method. You do this by specifying the index of the new element and the
value of the new item.

In [421]:
print(vehicles)

['Bullet', 'Honda', 'GS5', 'Harley', 'Ducati']

In [422]:
vehicles.insert(1,'Himalayan')
vehicles

['Bullet', 'Himalayan', 'Honda', 'GS5', 'Harley', 'Ducati']

In this example, the code at inserts the value 'ducati' at the beginning of the list. The insert() method opens a space at position 1 and stores
the value 'Himalayan' at that location. This operation shifts every other value
in the list one position to the right:

Removing an Item Using the del Statement
If you know the position of the item you want to remove from a list, you can
use the del statement.

In [423]:
del vehicles[2]
vehicles

['Bullet', 'Himalayan', 'GS5', 'Harley', 'Ducati']

The code above uses del to remove the third item, 'honda', from the list of
motorcycles

Removing an Item Using the pop() Method
The pop() method removes the last item in a list, but it lets you work
with that item after removing it. The term pop comes from thinking of a
list as a stack of items and popping one item off the top of the stack. In
this analogy, the top of a stack corresponds to the end of a list.

In [424]:
vehicles.pop()
print(vehicles)

['Bullet', 'Himalayan', 'GS5', 'Harley']

In [425]:
vehicles.pop()
print(vehicles)

['Bullet', 'Himalayan', 'GS5']

In [426]:
popped_vehicles = vehicles.pop()
print(vehicles)
print(popped_vehicles)

['Bullet', 'Himalayan']
GS5

We start by defining and printing the list motorcycles, we pop
a value from the list and store that value in the variable popped_motorcycle.
We print the list to show that a value has been removed from the list.
Then we print the popped value at to prove that we still have access to
the value that was removed.
The output shows that the value 'GS5' was removed from the end of
the list and is now stored in the variable popped_motorcycle

In [427]:
my_vehicles = ["Bullet", "Honda Africa Twin"]
print("My Veciles: ", my_vehicles)
last_owned = my_vehicles.pop()
print("The last bike I owned was " + last_owned + ".")

My Veciles:  ['Bullet', 'Honda Africa Twin']
The last bike I owned was Honda Africa Twin.

Popping Items from any Position in a List
You can actually use pop() to remove an item in a list at any position by
including the index of the item you want to remove in parentheses.

In [428]:
first_owned = my_vehicles.pop(0)
print("The first bike I owned was " + first_owned + ".")

The first bike I owned was Bullet.

# If you’re unsure whether to use the del statement or the pop() method,
here’s a simple way to decide: when you want to delete an item from a list
and not use that item in any way, use the del statement; if you want to use an
item as you remove it, use the pop() method.

Removing an Item by Value
If you only know the value of the item you want to remove, you
can use the remove() method.

In [429]:
bikes = ['Bullet', 'Himalayan', 'Honda', 'GS5', 'Harley', 'Ducati']
print(bikes)
bikes.remove('Honda')
print(bikes)

['Bullet', 'Himalayan', 'Honda', 'GS5', 'Harley', 'Ducati']
['Bullet', 'Himalayan', 'GS5', 'Harley', 'Ducati']

In [430]:
bikes

['Bullet', 'Himalayan', 'GS5', 'Harley', 'Ducati']

In [431]:
too_expensive = "Harley"
bikes.remove(too_expensive)
print(bikes)
print(too_expensive, "is a high cost bike")

['Bullet', 'Himalayan', 'GS5', 'Ducati']
Harley is a high cost bike

The remove() method deletes only the first occurrence of the value you specify. If there’s
a possibility the value appears more than once in the list, you’ll need to use a loop to
determine if all occurrences of the value have been removed.

3-4. Guest List: If you could invite anyone, living or deceased, to dinner, who
would you invite? Make a list that includes at least three people you’d like to
invite to dinner. Then use your list to print a message to each person, inviting
them to dinner.

In [432]:
guest_list = ["Mavsoo", "Mau", "Kanu"]
print(guest_list[0], "is invited for Dinner.")
print(guest_list[1], "is invited for Dinner.")
print(guest_list[2], "is invited for Dinner.")

Mavsoo is invited for Dinner.
Mau is invited for Dinner.
Kanu is invited for Dinner.

3-5. Changing Guest List: You just heard that one of your guests can’t make the
dinner, so you need to send out a new set of invitations. You’ll have to think of
someone else to invite.
•	 Start with your program from Exercise 3-4. Add a print statement at the
end of your program stating the name of the guest who can’t make it.
•	 Modify your list, replacing the name of the guest who can’t make it with
the name of the new person you are inviting.
•	 Print a second set of invitation messages, one for each person who is still
in your list.

In [433]:
print(guest_list[1], "won't be attending Dinner.")
guest_list.remove("Mau")
#Replacing Mau with Srisha
guest_list.insert(1, "Srisha")
print(guest_list[1],"is now invited in place of Mau for Dinner.")

Mau won't be attending Dinner.
Srisha is now invited in place of Mau for Dinner.

In [434]:
print(guest_list[0], "is invited for Dinner.")
print(guest_list[1], "is invited for Dinner.")
print(guest_list[2], "is invited for Dinner.")

Mavsoo is invited for Dinner.
Srisha is invited for Dinner.
Kanu is invited for Dinner.

In [435]:
#to study and solve 3.5 again
#solved

append()
insert()
del ()
pop ()
remove()

3-6. More Guests: You just found a bigger dinner table, so now more space is
available. Think of three more guests to invite to dinner.
•	 Start with your program from Exercise 3-4 or Exercise 3-5. Add a print
statement to the end of your program informing people that you found a
bigger dinner table.
•	 Use insert() to add one new guest to the beginning of your list.
•	 Use insert() to add one new guest to the middle of your list.
•	 Use append() to add one new guest to the end of your list.
•	 Print a new set of invitation messages, one for each person in your list.

In [436]:
initial_guest_list = guest_list
initial_guest_list

['Mavsoo', 'Srisha', 'Kanu']

In [437]:
new_guest_list = initial_guest_list.insert(0, "Mau")
new_guest_list = initial_guest_list.insert(2, "Kripal")
new_guest_list = initial_guest_list.append("Vaibhavi")

print(new_guest_list)
print("Found a bigger Dinner Table")

None
Found a bigger Dinner Table

In [438]:
print(guest_list)
print("Found a bigger Dinner Table")

['Mau', 'Mavsoo', 'Kripal', 'Srisha', 'Kanu', 'Vaibhavi']
Found a bigger Dinner Table

In [439]:
print(guest_list[0], "you are invited for Dinner!")
print(guest_list[1], "you are invited for Dinner!")
print(guest_list[2], "you are invited for Dinner!")
print(guest_list[3], "you are invited for Dinner!")
print(guest_list[4], "you are invited for Dinner!")
print(guest_list[5], "you are invited for Dinner!")

Mau you are invited for Dinner!
Mavsoo you are invited for Dinner!
Kripal you are invited for Dinner!
Srisha you are invited for Dinner!
Kanu you are invited for Dinner!
Vaibhavi you are invited for Dinner!

In [440]:
print("You can only invite two people for Dinner")

You can only invite two people for Dinner

In [441]:
popped_member = guest_list.pop(-1)
print(popped_member, "Sorry couldn't invite you for Dinner")

Vaibhavi Sorry couldn't invite you for Dinner

In [442]:
popped_member = guest_list.pop(-1)
print(popped_member, "Sorry couldn't invite you for Dinner")

Kanu Sorry couldn't invite you for Dinner

In [443]:
popped_member = guest_list.pop(-1)
print(popped_member, "Sorry couldn't invite you for Dinner")

Srisha Sorry couldn't invite you for Dinner

In [444]:
popped_member = guest_list.pop(-1)
print(popped_member, "Sorry couldn't invite you for Dinner.")

Kripal Sorry couldn't invite you for Dinner.

In [445]:
guest_list

['Mau', 'Mavsoo']

In [446]:
print(guest_list[0], "You are invited for Dinner")
print(guest_list[1], "You are invited for Dinner")

Mau You are invited for Dinner
Mavsoo You are invited for Dinner

In [447]:
del guest_list[0]
print(guest_list)

['Mavsoo']

In [448]:
del guest_list[0]
print(guest_list)

[]

Organizing a List

Sorting a List Permanently with the sort() Method

In [449]:
fruits = ["pineapple", "apple", "lichi", "mango"] 
fruits.sort()
print(fruits)

['apple', 'lichi', 'mango', 'pineapple']

The sort() method, changes the order of the list permanently. The cars are now in alphabetical order, and we can never revert to
the original order

sorting this list in reverse alphabetical order by passing the
argument reverse=True to the sort() method

In [450]:
fruits.sort(reverse=True)
print(fruits)

['pineapple', 'mango', 'lichi', 'apple']

Sorting a List Temporarily with the sorted() Function

In [451]:
print("Here is the original list:")
print(fruits)

print("\nHere is the temporarily sorted list:")
print(sorted(fruits))

print("\nHere is the original list again:")
print(fruits)

Here is the original list:
['pineapple', 'mango', 'lichi', 'apple']

Here is the temporarily sorted list:
['apple', 'lichi', 'mango', 'pineapple']

Here is the original list again:
['pineapple', 'mango', 'lichi', 'apple']

Printing a List in Reverse Order

In [452]:
print(fruits)
fruits.reverse()
print(fruits)

['pineapple', 'mango', 'lichi', 'apple']
['apple', 'lichi', 'mango', 'pineapple']

Notice that reverse() doesn’t sort backward alphabetically; it simply
reverses the order of the list

Finding the Length of a List

In [453]:
len(fruits)

4

Python counts the items in a list starting with one, so you shouldn’t run into any offby-one errors when determining the length of a list.

3-8. Seeing the World: Think of at least five places in the world you’d like to
visit.
•	 Store the locations in a list. Make sure the list is not in alphabetical order.
•	 Print your list in its original order. Don’t worry about printing the list neatly,
just print it as a raw Python list.
•	 Use sorted() to print your list in alphabetical order without modifying the
actual list.
•	 Show that your list is still in its original order by printing it.
•	 Use sorted() to print your list in reverse alphabetical order without changing the order of the original list.
•	 Show that your list is still in its original order by printing it again.
•	 Use reverse() to change the order of your list. Print the list to show that its
order has changed.
•	 Use reverse() to change the order of your list again. Print the list to show
it’s back to its original order.
•	 Use sort() to change your list so it’s stored in alphabetical order. Print the
list to show that its order has been changed.
•	 Use sort() to change your list so it’s stored in reverse alphabetical order.
Print the list to show that its order has changed.

In [454]:
locations = ["Kashi", "Himalayas", "Coimbatore", "Switzerland", "Japan"]
print(locations)

['Kashi', 'Himalayas', 'Coimbatore', 'Switzerland', 'Japan']

In [455]:
print(sorted(locations))

['Coimbatore', 'Himalayas', 'Japan', 'Kashi', 'Switzerland']

In [456]:
print("OG List:", locations)

OG List: ['Kashi', 'Himalayas', 'Coimbatore', 'Switzerland', 'Japan']

In [457]:
a = sorted(locations)
a

['Coimbatore', 'Himalayas', 'Japan', 'Kashi', 'Switzerland']

In [458]:
print(sorted(locations, reverse = True))

['Switzerland', 'Kashi', 'Japan', 'Himalayas', 'Coimbatore']

In [459]:
locations

['Kashi', 'Himalayas', 'Coimbatore', 'Switzerland', 'Japan']

In [460]:
locations.reverse()
print(locations)

['Japan', 'Switzerland', 'Coimbatore', 'Himalayas', 'Kashi']

In [461]:
locations.reverse()
print(locations)

['Kashi', 'Himalayas', 'Coimbatore', 'Switzerland', 'Japan']

In [462]:
locations.sort()
print(locations)

['Coimbatore', 'Himalayas', 'Japan', 'Kashi', 'Switzerland']

In [463]:
locations.sort(reverse=True)
print(locations)

['Switzerland', 'Kashi', 'Japan', 'Himalayas', 'Coimbatore']

In [464]:
guest_list = ['Mau', 'Mavsoo', 'Kripal', 'Srisha', 'Kanu', 'Vaibhavi']
print(len(guest_list), "people are invited for Dinner.")

6 people are invited for Dinner.

3-10. Every Function: Think of something you could store in a list. For example,
you could make a list of mountains, rivers, countries, cities, languages, or anything else you’d like. Write a program that creates a list containing these items
and then uses each function introduced in this chapter at least once.

append()
insert()
del ()
pop ()
remove()
sorted
sort()
reverse()
len()

In [465]:
mountains = ["Alanggad", "Malandgad", "Taramati", "Raigad", "Pratapgad"]
mountains

['Alanggad', 'Malandgad', 'Taramati', 'Raigad', 'Pratapgad']

In [466]:
len(mountains)

5

In [467]:
mountains.reverse()
print(mountains)

['Pratapgad', 'Raigad', 'Taramati', 'Malandgad', 'Alanggad']

In [468]:
print(sorted(mountains))

['Alanggad', 'Malandgad', 'Pratapgad', 'Raigad', 'Taramati']

In [469]:
mountains.sort()
mountains

['Alanggad', 'Malandgad', 'Pratapgad', 'Raigad', 'Taramati']

In [470]:
mountains.append("Sinhagad")
mountains

['Alanggad', 'Malandgad', 'Pratapgad', 'Raigad', 'Taramati', 'Sinhagad']

In [471]:
popped_mountain = mountains.pop(1)
print(popped_mountain,"'s base village visited")

Malandgad 's base village visited

In [472]:
mountains.remove("Sinhagad")
mountains

['Alanggad', 'Pratapgad', 'Raigad', 'Taramati']

In [473]:
new_mountains = mountains.insert(0, "Kokandiva")

In [474]:
mountains

['Kokandiva', 'Alanggad', 'Pratapgad', 'Raigad', 'Taramati']

If an index error occurs and you can’t figure out how to resolve it, try printing your
list or just printing the length of your list. Your list might look much different than
you thought it did, especially if it has been managed dynamically by your program.
Seeing the actual list, or the exact number of items in your list, can help you sort out
such logical errors.

# Looping through a list

To print out each name in the list. 
We could do this by retrieving each name from the
list individually, but this approach could cause several problems. For one,
it would be repetitive to do this with a long list of names. Also, we’d have to
change our code each time the list’s length changed. A for loop avoids both
of these issues by letting Python manage these issues internally.

Let’s use a for loop to print out each name in a list of magicians:

In [475]:
magicians = ["Alex", "Sam", "Bob"]
for magician in magicians:
    print (magician)

Alex
Sam
Bob

We begin by defining a list at line 1. At line 2,
we define a for loop. This line tells Python to pull a name from the list
magicians, and store it in the variable magician. At line 3 we tell Python to print
the name that was just stored in magician. Python then repeats lines 2
and 3, once for each name in the list.

Doing more within a for loop

In [476]:
magicians = ["David", "alice", "corlina"]
for magician in magicians:
    print(magician.title() + ", that was a great trick!")

David, that was a great trick!
Alice, that was a great trick!
Corlina, that was a great trick!

At 3rd line where we compose a message to
each magician, starting with that magician’s name.

Let’s add a second line to our message, telling each magician that we’re
looking forward to their next trick:

In [477]:
magicians = ["David", "alice", "corlina"]
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("Can't wait to see the next trick, " + magician.title() + ".\n")

David, that was a great trick!
Can't wait to see the next trick, David.

Alice, that was a great trick!
Can't wait to see the next trick, Alice.

Corlina, that was a great trick!
Can't wait to see the next trick, Corlina.

Because we have indented both print statements, each line will be exe-
cuted once for every magician in the list. The newline ("\n") in the second
print statement inserts a blank line after each pass through the loop.

In [478]:
magicians = ["David", "alice", "corlina"]
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("Can't wait to see the next trick, " + magician.title() + ".\n")
print("Thank You all for an amazing show.")

David, that was a great trick!
Can't wait to see the next trick, David.

Alice, that was a great trick!
Can't wait to see the next trick, Alice.

Corlina, that was a great trick!
Can't wait to see the next trick, Corlina.

Thank You all for an amazing show.

The first two print statements are repeated once for each magician in
the list, as you saw earlier. However, because the last line(print statement) is not indented,
it’s printed only once at the end.

4-1. Pizzas: Think of at least three kinds of your favorite pizza Store these
pizza names in a list, and then use a for loop to print the name of each pizza

In [479]:
fav_pizza = ["margherita", "paneer tikka", "tandoori pizza"]
for pizza in fav_pizza:
    print(pizza.title())

Margherita
Paneer Tikka
Tandoori Pizza

Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza

In [480]:
fav_pizza = ["margherita", "paneer tikka", "tandoori pizza"]
for pizza in fav_pizza:
    print("I like " + pizza.title() + " Pizza.")

I like Margherita Pizza.
I like Paneer Tikka Pizza.
I like Tandoori Pizza Pizza.

Add a line at the end of your program, outside the for loop, that states
how much you like pizza The output should consist of three or more lines
about the kinds of pizza you like and then an additional sentence, such as
I really love pizza!

In [481]:
fav_pizza = ["margherita", "paneer tikka", "tandoori pizza"]
for pizza in fav_pizza:
    print("I like " + pizza.title() + " Pizza.")
print("\nI really love Pizza.")

I like Margherita Pizza.
I like Paneer Tikka Pizza.
I like Tandoori Pizza Pizza.

I really love Pizza.

4-2. Animals: Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to
print out the name of each animal

In [482]:
animals = ["bear", "lepord", "wild buffalo"]
for animal in animals:
    print(animal.title())

Bear
Lepord
Wild Buffalo

Modify your program to print a statement about each animal, such as
A dog would make a great pet.

In [483]:
animals = ["bear", "lepord", "wild buffalo"]
for animal in animals:
    print(animal.title() + " is found in Western Ghats of India.")

Bear is found in Western Ghats of India.
Lepord is found in Western Ghats of India.
Wild Buffalo is found in Western Ghats of India.

Add a line at the end of your program stating what these animals have in
common You could print a sentence such as Any of these animals would
make a great pet

In [484]:
animals = ["bear", "lepord", "wild buffalo"]
for animal in animals:
    print(animal.title() + " is found in Western Ghats of India.")
print("\nAll of the above are wild animals.")

Bear is found in Western Ghats of India.
Lepord is found in Western Ghats of India.
Wild Buffalo is found in Western Ghats of India.

All of the above are wild animals.

# Making numerical lists

Many reasons exist to store a set of numbers. For eg, tracking positions of each character in a game, and you might want
to keep track of a player’s high scores as well. In data visualizations, you’ll
almost always work with sets of numbers, such as temperatures, distances,
population sizes, or latitude and longitude values, among other types of 
numerical sets.

Using the range() Function - Python’s range() function makes it easy to generate a series of numbers.

In [485]:
for value in range(1,5):
    print(value)

1
2
3
4

The range() function causes Python to start counting at the first
value you give it, and it stops when it reaches the second value you provide.
Because it stops at that second value, the output never contains the end
value, which would have been 5 in this case.

To print the numbers from 1 to 5, we can use range(1,6):

In [486]:
for value in range(1,6):
    print(value)

1
2
3
4
5

Using range() to Make a List of Numbers

When you wrap list() around a
call to the range() function, the output will be a list of numbers.

In [487]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

using the range() function to tell Python to skip numbers
in a given range.

In [488]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In this example, the range() function starts with the value 2 and then
adds 2 to that value. It adds 2 repeatedly until it reaches or passes the end
value, 11, and produces the result.

In [489]:
#making a list of the first 10 square numbers 

squares = []
for value in range(1,11):
    square=value**2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

We start with an empty list called squares. Then, we tell Python to
loop through each value from 1 to 10 using the range() function. Inside
the loop, the current value is raised to the second power and stored in the variable. Later, each new value of square is appended to the list
squares. Finally, when the loop has finished running, the list of squares is
printed

In [490]:
squares = []
for value in range(1,11):
    squares.append(value**2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [491]:
#Simple Statistics with a List of Numbers

digits = [1,2,3,4,5,6,7,8,9,10]

min(digits)

1

In [492]:
max(digits)

10

sum(digits)

List Comprehensions- A list comprehension combines the
for loop and the creation of new elements into one line, and automatically
appends each new element.

In [493]:
#Building list of square of nos usimg list comprehension

squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Begin with a descriptive name for the list, such as
squares. Next, open a set of square brackets and define the expression for
the values you want to store in the new list. In this example the expres-
sion is value**2, which raises the value to the second power. Then, write
a for loop to generate the numbers you want to feed into the expression,
and close the square brackets. The for loop in this example is for value
in range(1,11), which feeds the values 1 through 10 into the expression
value**2.

4-3. Counting to Twenty: Use a for loop to print the numbers from 1 to 20,
inclusive

In [494]:
for value in range(1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

4-4. One Million: Make a list of the numbers from one to one million, and then
use a for loop to print the numbers (If the output is taking too long, stop it by
pressing ctrl-C or by closing the output window )

In [495]:
#I'm printing 1000 nos

numbers = []
for number in range(1,1001):
    numbers.append(number)
    
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

4-5. Summing a Million: Make a list of the numbers from one to one thousand,
and then use min() and max() to make sure your list actually starts at one and
ends at one thousand. Also, use the sum() function to see how quickly Python can
add a million numbers

In [496]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [497]:
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
1000
500500

4-6. Odd Numbers: Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20 Use a for loop to print each number

In [498]:
for odd_no in range(1,21,2):
    print(odd_no)

1
3
5
7
9
11
13
15
17
19

4-7. Threes: Make a list of the multiples of 3 from 3 to 30 Use a for loop to
print the numbers in your list

In [499]:
multiples_of_3 = []

for value in range(3,31,3):
    multiples_of_3.append(value)
    
print(multiples_of_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [500]:
#solving by other method

multiples_of_3 = []

for value in range(1,11):
    multiple = value*3
    multiples_of_3.append(multiple)
    
print(multiples_of_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

4-8. Cubes: A number raised to the third power is called a cube For example,
the cube of 2 is written as 2**3 in Python Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [501]:
cubes = []

for value in range(1,11):
    cube = value**3
    cubes.append(cube)
    
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

4-9. Cube Comprehension: Use a list comprehension to generate a list of the
first 10 cubes

In [502]:
cubes = [value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Working with Lists

Slicing a List

To make a slice, you specify the index of the first and last elements you
want to work with.

In [503]:
players = ["rohit", "virat", "jadeja", "bumra", "shikar", "rahane"]
print(players[0:3])

['rohit', 'virat', 'jadeja']

In [504]:
print(players[1:5])

['virat', 'jadeja', 'bumra', 'shikar']

In [505]:
#If you omit the first index in a slice, Python automatically starts your slice at the beginning of the list

print(players[0:4])

['rohit', 'virat', 'jadeja', 'bumra']

In [506]:
#A similar syntax works if you want a slice that includes the end of a list.

print(players[4:])

['shikar', 'rahane']

In [507]:
#if we want to output the last three players on the roster, we can use the slice players[-3:]

print(players[-3:])

['bumra', 'shikar', 'rahane']

In [508]:
print(players[-5:])

['virat', 'jadeja', 'bumra', 'shikar', 'rahane']

In [509]:
print(players[:4])

['rohit', 'virat', 'jadeja', 'bumra']

Looping Through a Slice

In [510]:
#one can use a slice in a for loop if you want to loop through a subset of the elements in a list. In the next example we loop through the first three players and print their names as part of a simple roster:

players = ["rohit", "virat", "jadeja", "bumra", "shikar", "rahane"]
print("Here are the first 3 players of my Team:")

for player in players[:3]:
    print(player.title())

Here are the first 3 players of my Team:
Rohit
Virat
Jadeja

Coping a list: To copy a list, you can make a slice that includes the entire original list
by omitting the first index and the second index ([:]). This tells Python to
make a slice that starts at the first item and ends with the last item, produc-
ing a copy of the entire list.

In [511]:
my_fav_food = ["punjabi samosa", "appam", "momos"]
sis_fav_food = my_fav_food[:]

print("My favourite foods are:")
print(my_fav_food)
print("\nMy sisters fav foods are:")
print(sis_fav_food)

My favourite foods are:
['punjabi samosa', 'appam', 'momos']

My sisters fav foods are:
['punjabi samosa', 'appam', 'momos']

In [512]:
my_fav_food.append("ice cream")
print(my_fav_food)

['punjabi samosa', 'appam', 'momos', 'ice cream']

In [513]:
sis_fav_food.append("jalebi")
print(sis_fav_food)

['punjabi samosa', 'appam', 'momos', 'jalebi']

In [514]:
print("My favourite foods are:")
print(my_fav_food)
print("\nMy sisters fav foods are:")
print(sis_fav_food)

My favourite foods are:
['punjabi samosa', 'appam', 'momos', 'ice cream']

My sisters fav foods are:
['punjabi samosa', 'appam', 'momos', 'jalebi']

In [515]:
#this doesnt work

my_fav_food = sis_fav_food

print("My favourite foods are:")
print(my_fav_food)
print("\nMy sisters fav foods are:")
print(sis_fav_food)

My favourite foods are:
['punjabi samosa', 'appam', 'momos', 'jalebi']

My sisters fav foods are:
['punjabi samosa', 'appam', 'momos', 'jalebi']

Instead of storing a copy of my_food in sis_fav_food, we set
sis_fav_food equal to my_fav_food. This syntax actually tells Python to con-
nect the new variable sis_fav_food to the list that is already contained in
my_fav_food, so now both variables point to the same list. As a result, when we
add 'momos' to my_fav_food, it will also appear in sis_fav_food. Likewise 'jalebi' will appear in both lists, even though it appears to be added only to
sis_fav_foods.
The output shows that both lists are the same now, which is not what we
wanted.

Basically, if you’re trying to
work with a copy of a list and you see unexpected behavior, make sure you are copying
the list using a slice.

4-10. Slices: Using one of the programs you wrote in this chapter, add several
lines to the end of the program that do the following:
• Print the message, The first three items in the list are: Then use a slice to
print the first three items from that program’s list
• Print the message, Three items from the middle of the list are: Use a slice
to print three items from the middle of the list
• Print the message, The last three items in the list are: Use a slice to print
the last three items in the list

In [516]:
my_fav_food

['punjabi samosa', 'appam', 'momos', 'jalebi']

In [517]:
print("The first three items in the food list are:", my_fav_food[:3])

The first three items in the food list are: ['punjabi samosa', 'appam', 'momos']

In [518]:
print("Three items from the middle of the list are", my_fav_food[1:4])

Three items from the middle of the list are ['appam', 'momos', 'jalebi']

In [519]:
print("The last three items in the list are:", my_fav_food[-3:])

The last three items in the list are: ['appam', 'momos', 'jalebi']

4-11. My Pizzas, Your Pizzas: Start with your program from Exercise 4-1
(page 60) Make a copy of the list of pizzas, and call it friend_pizzas
Then, do the following:
• Add a new pizza to the original list
• Add a different pizza to the list friend_pizzas
• Prove that you have two separate lists Print the message, My favorite
pizzas are:, and then use a for loop to print the first list Print the message,
My friend’s favorite pizzas are:, and then use a for loop to print the sec-
ond list Make sure each new pizza is stored in the appropriate list

In [520]:
friend_pizzas = fav_pizza[:]
fav_pizza

['margherita', 'paneer tikka', 'tandoori pizza']

In [521]:
fav_pizza.append("Veggie delight")
fav_pizza

['margherita', 'paneer tikka', 'tandoori pizza', 'Veggie delight']

In [522]:
friend_pizzas.append("mushroom pizza")
friend_pizzas

['margherita', 'paneer tikka', 'tandoori pizza', 'mushroom pizza']

In [523]:
print("My favourite Pizzas are:")
for my_pizza in fav_pizza:
    print(my_pizza.title())
    
print("\nMy friend's favourite pizzas are:")
for pizza in friend_pizzas:
    print(pizza.title())

My favourite Pizzas are:
Margherita
Paneer Tikka
Tandoori Pizza
Veggie Delight

My friend's favourite pizzas are:
Margherita
Paneer Tikka
Tandoori Pizza
Mushroom Pizza

4-12. More Loops: All versions of foods.py in this section have avoided using
for loops when printing to save space Choose a version of foods.py, and
write two for loops to print each list of foods

print("My favourite foods are:")
for food in my_fav_food:
    print(food.title())
    
print("\nMy sisters fav foods are:")
for foods in sis_fav_food:
    print(foods.title())

# Tuples

Python refers to values that cannot
change as immutable, and an immutable list is called a tuple.

*Defining a Tuple*

A tuple looks just like a list except you use parentheses instead of square
brackets. Once you define a tuple, you can access individual elements by
using each item’s index, just as you would for a list.

In [524]:
#if we have a rectangle that should always be a certain size,we can ensure that its size doesn’t change by putting the dimensions into atuple:

rect_dimension = (200,50)
print(rect_dimension[0])
print(rect_dimension[1])

200
50

In [525]:
#trying to change tuple elements and getting error

rect_dimension[0] = 250
print(rect_dimension)

TypeError: 'tuple' object does not support item assignment

Looping through all the values in a tuple.

for dimension in rect_dimension:
    print(dimension)

Writing over a tuple

In [526]:
rect_dimensions = (200, 50)
print("Original dimensions are:")
for dimensions in rect_dimension:
    print(dimensions)
    
rect_dimensions = (400,100)
print("\nModified dimensions are:")
for dimension in rect_dimensions:
    print(dimension)

Original dimensions are:
200
50

Modified dimensions are:
400
100

First block defines the original tuple and prints the initial dimen-
sions. Then we store a new tuple in the variable rect_dimensions. We then print the
new rect_dimensions. Python doesn’t raise any errors this time, because
overwriting a variable is valid.

When compared with lists, tuples are simple data structures. Use them
when you want to store a set of values that should not be changed through-
out the life of a program.

4-13. Buffet: A buffet-style restaurant offers only five basic foods Think of five
simple foods, and store them in a tuple
• Use a for loop to print each food the restaurant offers
• Try to modify one of the items, and make sure that Python rejects the
change
• The restaurant changes its menu, replacing two of the items with different
foods Add a block of code that rewrites the tuple, and then use a for
loop to print each of the items on the revised menu

In [527]:
buffet = ('roti', 'sabji', 'dal', 'rice', 'sweet')
print("Our Restuarant offers the following dishes:")
for food in buffet:
    print(food.title())

Our Restuarant offers the following dishes:
Roti
Sabji
Dal
Rice
Sweet

In [528]:
buffet[0] = "naan"
print(buffet)

TypeError: 'tuple' object does not support item assignment

In [529]:
buffet = ('naan', 'sabji', 'jeera dal', 'rice', 'sweet')
print("The new revised menu is:")
for food in buffet:
    print(food.title())

The new revised menu is:
Naan
Sabji
Jeera Dal
Rice
Sweet